.signup,
.login {
  display: flex;
}

.text__area__container {
  flex: 0.55;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.text__area__container > .login__message__container {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.text__area__container > .login__message__container > p {
  font-size: 0.8rem;
  color: gray;
}

.text__area__container > .login__message__container > button {
  color: #3a8dff;
  background-color: #ffffff;
  box-shadow: 0 0 10px gray;
}

.form__container {
  margin-top: 60px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__container > h4 {
  font-size: 1.5rem;
  align-self: flex-start;
}

@media only screen and (max-width: 730px) {
  .text__area__container {
    flex: 1;
  }

  .form__container {
    width: 90%;
  }
}
